body{
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
}
.main{
    background-color: white;
    border: 1px solid black;
    height: 100%;
    width: 80%;
    align-items: center;
    margin: 2px auto;
    padding: 3px;
    border-radius: 2px;
}
.main img{
    height:50px;
    display: block;
    margin: 5px auto;
}
.brand-name{
 text-align: center;
}
.receipt-body{
    position: relative;
    border-bottom: 1px dashed gray;
}
.address{
    text-align: end;
}
.contant{
    text-align: end;
}
.content-header{
    border-bottom: 2px dotted gray;
}
.body-header{
    text-align: center;
}
.receipt-detail{
       display: flex;
       justify-content: space-around;
       font-size: 20px;
    margin: 7px 0px;
}
.receipt-detail-key{
    color: gray;
    width: 30%;
}
.receipt-detail-value{
    font-weight: bold;
    border-bottom: 1px dashed gray; 
    width: 30%;
}
.accountant-signature{
    text-align: end;
    margin-top: 40px;
}
.brand-stamp{
    position: absolute;
    height: 60px;
    bottom: 4px;
    right: 10px
}
.receipt-footer{
    width: 100%;
    background-color: rgb(100, 100, 221);
    text-align: center;
    padding: 20px 0px;
}
/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .main{
        padding: 2px 6px;
      }
      .address{
            padding: 0px 5px;
      }
      .contant{
            padding: 0px 5px;
      }
      .receipt-detail{
        display: flex;
        justify-content: center;
        margin:5px 3px;
      }
      .receipt-detail-value{
        width: 25%;
      }
      .receipt-detail-key{
        width: 25%;
      }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
      .main{
        padding: 2px 6px;
      }
      .address{
            padding: 0px 5px;
      }
      .contant{
            padding: 0px 5px;
      }
      .receipt-detail{
        display: flex;
        justify-content: center;
        margin:5px 3px;
    }
    .receipt-detail-value{
      width: 25%;
    }
    .receipt-detail-key{
      width: 25%;
    }
  }

  /* Tablet Devices */

  @media screen and (min-width: 769px) and (max-width: 992px) {
    .main{
        padding: 2px 6px;
      }
      .address{
        padding: 0px 5px;
  }
  .contant{
        padding: 0px 5px;
  }
  }

  /* Dekstop device */

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    
  }